<nav>
    <div id="ac" class="mail">AC</div>
    <div id="os">
        <div id="o" class="mail">O</div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <div id="s" class="mail">S</div>
    </div>
</nav>