<nav>
    <div id="ac" class="mail" onclick="showInfo()" onmouseover="changeText(this,'STUDIO', '#70C9FC')" onmouseout="changeText(this, 'AC', '#649d66')">AC</div>
    <div id="os">
        <div id="o" class="mail" onmouseover="changeText(this,'Object', '#649d66')" onmouseout="changeText(this, 'O', '#649d66')">O</div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <div id="s" class="mail" onmouseover="changeText(this,'Space', '#70C9FC')" onmouseout="changeText(this, 'S', '#70C9FC')">S</div>
    </div>
</nav>