<div class="cursor"></div>

    <nav>
        <div id="ac" class="mail">AC</div>
        <div id="os">
            <div id="o" class="mail">O</div>
            <label class="switch">
                <input type="checkbox">
                <a href="/space">
                    <span class="slider round"></span>
                </a>
            </label>
            <div id="s" class="mail">S</div>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">AC STUDIO</p>
            <p>41, rue du Temple<br>
                Paris 75003
            </p>
            <p class="no-mb">06 69 24 83 32</p>
            <a class="mail" href="mailto:contact@ac.studio.com?subject=AC Studio">contact@ac.studio.com</a>
            <p>Designing Object and Spaces</p>
            <p>Bed for Airports / Vélo Park /<br>
                Stadium Seat / Drinking Fountain /<br>
                Set Design / Bas Relief /<br>
                Scenography / Playground /<br>
                Diving Sculpture / Set Design /<br>
                Library / Hotel / Supermarket Furnirure /<br>
                Outdoor Furniture
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates accusamus soluta inventore, totam, repellat reprehenderit, ipsam ea hic suscipit commodi animi? Veritatis, pariatur nobis? Eaque sequi esse maxime blanditiis dolores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit beatae porro possimus? Cumque ea natus deserunt totam, dolores modi doloribus fugiat dolorum quam iure praesentium dolore minus laboriosam? Repellat!</p>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <img class="mobile-box-pictures" src="/assets/vitra8.png" alt="vitra8">
            <img class="mobile-box-pictures" src="/assets/stade10.png" alt="stade10">
            <img class="mobile-box-pictures" src="/assets/municipale4.jpg" alt="municipale4">
            <img class="mobile-box-pictures" src="/assets/vava3.jpg" alt="vava3">
            <img class="mobile-box-pictures" src="/assets/fontaine6.png" alt="fontaine6">
            <img class="mobile-box-pictures" src="/assets/siamese3.png" alt="siamese3">
            <img class="mobile-box-pictures" src="/assets/cafe4.jpg" alt="cafe4">

        </div>
    </div>

    <div id="desktop-hide">

        <div class="background">
        </div>

        <div id="master-project-chronology">
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Table à café</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2020">
                            cl_image_tag("cafe4_llwb8a.jpg", :class=>"pictures grayscale", :alt=>"cafe4")
                            <div class="pictures-title">Table à café</div>
                        </div>
                        <div class="">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Siamese</p>
                            <p>2020</p>
                            <p>Musée Cantini</p>
                        </div>
                        <div id="pictures-siamese" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/siamese3.png" alt="siamese3">
                            <div class="pictures-title">Siamese</div>
                        </div>
                        <div>
                            <img class="show-pictures-2" src="/assets/siamese1.jpg" alt="siamese1">
                            <img class="show-pictures-3" src="/assets/siamese2.png" alt="siamese2">
                        </div>
                        <div class="show-text">
                            <h3>Siamese, Bas Relief, Musée Cantini, 2020</h3>
                            <p>Dimensions 1300 x 800 x 140<br>
                            Matériaux Tôle d'acier 25/10<br>
                            Blanc crème<br><br>

                            Siamese est un bas relief composé de deux courbes dans un plateau et vissé au mur par 4 Tubes d’hauteurs variables. Ces trois éléments sont visuellement liés par une couleur lumineuse et douce faisant echos à l'oeuvre iconique, la Lampshade de Man Ray.
                            Se créant un territoire propre, le mouvement organique de la tôle et des tubes crées un jeu d'ombres et de lumière donnant au mur une tension, une dynamique vive et discrète.
                            Pouvant servir de rebords, de crochet ou de surface d'affichage on peut y apposer quelques livres, coller une image, glisser des clefs ou un parapluie de façon aléatoire.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Hydros</p>
                            <p>2020</p>
                            <p>Eau de Paris</p>
                        </div>
                        <div id="pictures-hydros" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/fontaine6.png" alt="fontaine6">
                            <div class="pictures-title">Hydros</div>
                        </div>
                        <img class="show-pictures-1" src="/assets/fontaine1.png" alt="fontaine1">
                        <div>
                            <img class="show-pictures-2" src="/assets/fontaine2.png" alt="fontaine2">
                            <img class="show-pictures-3" src="/assets/fontaine3.png" alt="fontaine3">
                        </div>
                        <div>
                            <img class="show-pictures-4" src="/assets/fontaine4.png" alt="fontaine4">
                            <img class="show-pictures-5" src="/assets/fontaine5.png" alt="fontaine5">
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>VAVA</p>
                            <p>2019</p>
                            <p>VAVA</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2019">
                            <img class="pictures grayscale" src="/assets/vava3.jpg" alt="vava3">
                            <div class="pictures-title">VAVA</div>
                        </div>
                        <img class="show-pictures-1" src="/assets/vava1.png" alt="vava1">
                        <div>
                            <img class="show-pictures-2" src="/assets/vava4.jpg" alt="vava4">
                            <img class="show-pictures-3" src="/assets/vava5.jpg" alt="vava5">
                        </div>
                        <div>
                            <img class="show-pictures-4" src="/assets/vava6.jpg" alt="vava6">
                            <img class="show-pictures-5" src="/assets/vava7.jpg" alt="vava7">
                        </div>
                        <div>
                            <img class="show-pictures-6" src="/assets/vava8.jpg" alt="vava8">
                            <img class="show-pictures-7" src="/assets/vava9.jpg" alt="vava9">
                        </div>
                        <div class="show-text">
                            <h3>VAVA, VAVA, 2019</h3>
                            <p>
                                VAVA est une start-up visant à répondre aux problématiques de mobilité urbaine actuelle, ainsi qu'à la vie de quartier de grandes villes.
                                Le projet que nous souhaiterions vous proposer a été conceptualisé pour les cyclistes, autour de la question du stationnement et de la
                                sécurité pour la bonne santé du vélo en ville.<br><br>

                                Le système est modulable et comprend:<br><br>

                                Un jardin<br>
                                Des Box vélos sécurisés<br>
                                Une fontaine<br>
                                Un arbre<br>
                                Une pompe / Kit de réparation pour les vélos<br><br>

                                L'idée est autant de proposer aux utilisateurs une sécurité complète pour leurs vélos que d'apporter de la poésie et de la vie à une rue.
                                On enlève 2 ou 3 places de voitures pour composer selon le contexte une sculpture/installation autonome et vivante.
                                On apporte un service lisible parking vélo/recharge / et une démarche volontaire des habitants
                                Jardin / Arbre = soins des habitants de la rue, entraide, discussions
                                Fontaine = permet aux cyclistes de remplir leurs gourdes, au marcheur de boire et s'asseoir un instant
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Halles Municipales</p>
                            <p>2019</p>
                            <p>Altarea Cogedim</p>
                        </div>
                        <div id="pictures-municipale" class="allpictures pictures-2019">
                            <img class="pictures grayscale" src="/assets/municipale4.jpg" alt="municipale4">
                            <div id="title-municipale" class="pictures-title">Halles Municipales</div>
                        </div>
                        <img class="show-pictures-1" src="/assets/municipale1.png" alt="municipale1">
                        <div>
                            <img class="show-pictures-2" src="/assets/municipale2.png" alt="municipale2">
                            <img class="show-pictures-3" src="/assets/municipale3.png" alt="municipale3">
                        </div>
                        <div>
                            <img class="show-pictures-4" src="/assets/municipale5.jpg" alt="municipale5">
                            <img class="show-pictures-5" src="/assets/municipale6.jpg" alt="municipale6">
                        </div>
                        <div>
                            <img class="show-pictures-6" src="/assets/municipale7.jpg" alt="municipale7">
                            <img class="show-pictures-7" src="/assets/municipale8.jpg" alt="municipale8">
                        </div>
                        <div class="show-text">
                        <h3>Halles Municipales, Altarea Cogedim, 2019</h3>
                        <p>
                            La collection « Titre » est une recherche, en cours, pour le futur ameublement des Halles Esther Poggio. Pour dessiner la collection de mobilier des Halles, j’ai souhaité établir un lien essentiel, visuel avec le bâtiment, comme une extension mobile et symbolique, un siècle plus tard. La collection composée d’une chaise, d’un tabouret haut et d’une série de tables tire son sel des menuiserie arts déco, des grands arches et des volumes adroit du bâtiment. La Chaise est formée de profil L cintrés ainsi que d’un maillage acier agréable et subtil. L’avantage du profil est multiple puisqu’il est résistant, léger et forme un cadre versatile permettant différentes finitions : maillage, Tôle, Bois, ou tissus. Le maillage quant à lui sollicite une légèreté, jouant avec la lumière et l’environnement extérieur. Laissant passer les rayons du soleil tout comme une fraîche intempérie, elle porte aussi l’idée que le regard lui aussi passe au travers de cette structure en croix et sur son environnement. La chaise est empilable afin de suivre les rebondissements des Halles. Le Tabouret avec ses trois pieds suit cette dynamique structurelle et visuelle et est également empilable. Les Tables sont un assemblage de différents matériaux : une base conique en béton, une extrusion acier thermolaqué en croix, un plateau de bois. Les plateaux varient en taille et en hauteur pour devenir une table à café, une table haute de bar ou une grande table de banquet pour 10 personnes. Des crochets fixés aux profils permettent d’accrocher ses sacs
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures" >
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Stadium seat</p>
                            <p>2017</p>
                            <p>Ultra Plastic</p>
                        </div>
                        <div id="pictures-stade" class="allpictures pictures-2017">
                            <img class="pictures grayscale" src="/assets/stade10.png" alt="stade10">
                            <div id="title-stade" class="pictures-title">Ultra San Siro</div>
                        </div>
                        <img class="show-pictures-1" src="/assets/stade1.jpeg" alt="stade1">
                        <div>
                            <img class="show-pictures-2" src="/assets/stade3.jpeg" alt="stade3">
                            <img class="show-pictures-3" src="/assets/stade4.jpeg" alt="stade4">
                        </div>
                        <div>
                            <img class="show-pictures-4" src="/assets/stade8.png" alt="stade8">
                            <img class="show-pictures-5" src="/assets/stade2.jpeg" alt="stade2">
                        </div>
                        <div>
                            <img class="show-pictures-6" src="/assets/stade6.png" alt="stade6">
                            <img class="show-pictures-7" src="/assets/stade7.png" alt="stade7">
                        </div>
                        <div>
                            <img class="show-pictures-8" src="/assets/stade5.png" alt="stade5">
                            <img class="show-pictures-9" src="/assets/stade9.jpg" alt="stade9">
                        </div>
                        <div class="show-text">
                            <h3>Stadium Seats, San Siro, 2017</h3>
                            <p>Antoine grew up in Marseille, south of France, in front of the sea. After dreaming about being
                            rugby player, design came like a second breath, as a way of expression. Inspired and passionate,
                            Antoine graduated with honors from Esad, a school which promotes an open vision of creation between object and spatial design. During this experience, Antoine developed a clear interest for public space. Fascinated by the vision of Jurgen Bey, He joined his studio in Rotterdam for a summer. In 2015, he moved to Switzerland to
                            commence the Master of Product Design at Ecal, where he refined his knowledge of industrial
                            design and collaborated with brands like E15, Victorinox and recently Vitra.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Capsule Hotel</p>
                            <p>2017</p>
                            <p>VITRA</p>
                        </div>
                        <div id="pictures-capsule" class="allpictures pictures-2017 lastpicturehide">
                            <img class="pictures grayscale" src="/assets/vitra8.png" alt="vitra8">
                            <div class="pictures-title">Capsule Hotel</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <img class="show-pictures-1" src="/assets/vitra1.png" alt="vitra1">
                            <div>
                                <img class="show-pictures-2" src="/assets/vitra2.png" alt="vitra2">
                                <img class="show-pictures-3" src="/assets/vitra3.png" alt="vitra3">
                            </div>
                            <div>
                                <img class="show-pictures-4" src="/assets/vitra4.png" alt="vitra4">
                                <img class="show-pictures-5" src="/assets/vitra5.png" alt="vitra5">
                            </div>
                            <div>
                                <img class="show-pictures-6" src="/assets/vitra6.png" alt="vitra6">
                                <img class="show-pictures-7" src="/assets/vitra10.png" alt="vitra10">
                            </div>
                            <div>
                                <img class="show-pictures-8" src="/assets/vitra7.png" alt="vitra7">
                                <img class="show-pictures-9" src="/assets/vitra9.png" alt="vitra9">
                            </div>
                            <div class="show-text">
                                <h3>Capsule Hotel, VITRA, 2017</h3>
                                <p>
                                    A big furniture in the center of a workspace in universities, wich could create a wall
                                    to divide the space. Point of research, to find some specific books and keep working
                                    the desk, or take a rest in the armchair around. Hight point of reading and focus, by
                                    visually hiding surroundings, new point of view of the space.
                                    Up. Relax and focus, height and hiding can put the reader in the best condition to
                                    break a hard
                                    day of work, or keep working with sensations of a different area.
                                    Down. Library books linked with the field of suties, full of newspaper and
                                    magazines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>


            <div id="project-year">
                <div id="project-year-2020">
                    <p>2020</p>
                </div>
                <div id="project-year-2019">
                    <p>2019</p>
                </div>
                <div id="project-year-2018">
                    <p>2018</p>
                </div>
                <div id="project-year-2017">
                    <p>2017</p>
                </div>
            </div>

            <div class="chair-front">
                <img src="/assets/TableVaseFront.png" alt="one">
            </div>
        </div>

    </div>

