<div class="cursor"></div>

    <nav>
        <div id="ac" class="mail">AC</div>
        <div id="os">
            <div id="o" class="mail">O</div>
            <label class="switch">
                <input type="checkbox">
                <a href="/object">
                    <span class="slider round space"></span>
                </a>
            </label>
            <div id="s" class="mail">S</div>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">AC STUDIO</p>
            <p>41, rue du Temple<br>
                Paris 75003
            </p>
            <p class="no-mb">06 69 24 83 32</p>
            <a class="mail" href="mailto:contact@ac.studio.com?subject=AC Studio">contact@ac.studio.com</a>
            <p>Designing Object and Spaces</p>
            <p>Bed for Airports / Vélo Park /<br>
                Stadium Seat / Drinking Fountain /<br>
                Set Design / Bas Relief /<br>
                Scenography / Playground /<br>
                Diving Sculpture / Set Design /<br>
                Library / Hotel / Supermarket Furnirure /<br>
                Outdoor Furniture
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates accusamus soluta inventore, totam, repellat reprehenderit, ipsam ea hic suscipit commodi animi? Veritatis, pariatur nobis? Eaque sequi esse maxime blanditiis dolores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit beatae porro possimus? Cumque ea natus deserunt totam, dolores modi doloribus fugiat dolorum quam iure praesentium dolore minus laboriosam? Repellat!</p>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <img class="mobile-box-pictures" src="/assets/vitra8.png" alt="vitra8">
            <img class="mobile-box-pictures" src="/assets/stade10.png" alt="stade10">
            <img class="mobile-box-pictures" src="/assets/municipale4.jpg" alt="municipale4">
            <img class="mobile-box-pictures" src="/assets/vava3.jpg" alt="vava3">
            <img class="mobile-box-pictures" src="/assets/fontaine6.png" alt="fontaine6">
            <img class="mobile-box-pictures" src="/assets/siamese3.png" alt="siamese3">
            <img class="mobile-box-pictures" src="/assets/cafe4.jpg" alt="cafe4">

        </div>
    </div>

    <div id="desktop-hide">

        <div class="background"></div>

        <div id="master-project-chronology">
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Cari Atelier Logement</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/CariAtelierLogement2020.jpg" alt="Cari Atelier Logement">
                            <div class="pictures-title">Cari Atelier Logement</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Rooftop</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/Rooftop2020.jpg" alt="Rooftop">
                            <div class="pictures-title">Rooftop</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Playset Kit</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/PlaysetKit2019.jpg" alt="Playset Kit">
                            <div class="pictures-title">Playset Kit</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Sceno Villa Noailles</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/scenoVillaNoailles2019.png" alt="Sceno Villa Noailles">
                            <div class="pictures-title">Sceno Villa Noailles</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Room Villa Noailles</p>
                            <p>2018</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <img class="pictures grayscale" src="/assets/roomVillaNoailles2018.jpg" alt="Room Villa Noailles">
                            <div class="pictures-title">Sceno Villa Noailles</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <img class="show-pictures-1" src="/assets/cafe1.jpg" alt="cafe1">
                                <img class="show-pictures-2" src="/assets/cafe2.jpg" alt="cafe2">
                            </div>
                            <div>
                                <img class="show-pictures-3" src="/assets/cafe3.jpg" alt="cafe3">
                                <img class="show-pictures-4" src="/assets/cafe5.jpg" alt="cafe5">
                            </div>
                            <div class="show-text">
                                <h3>Table à café, 2020</h3>
                                <p>
                                    Description à compléter
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>

            <div id="project-year">
                <div id="project-year-2020">
                    <p>2020</p>
                </div>
                <div id="project-year-2019">
                    <p>2019</p>
                </div>
                <div id="project-year-2018">
                    <p>2018</p>
                </div>
                <div id="project-year-2017">
                    <p>2017</p>
                </div>
            </div>

        </div>

    </div>

