<div class="cursor"></div>

    <div id="gray" onclick="hideInfo()"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">AC STUDIO</p>
            <p>41, rue du Temple<br>
                Paris 75003
            </p>
            <p class="no-mb">06 69 24 83 32</p>
            <a class="mail" href="mailto:contact@ac.studio.com?subject=AC Studio">contact@ac.studio.com</a>
            <p>Designing Object and Spaces</p>
            <p>Bed for Airports / Vélo Park /<br>
                Stadium Seat / Drinking Fountain /<br>
                Set Design / Bas Relief /<br>
                Scenography / Playground /<br>
                Diving Sculpture / Set Design /<br>
                Library / Hotel / Supermarket Furnirure /<br>
                Outdoor Furniture
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates accusamus soluta inventore, totam, repellat reprehenderit, ipsam ea hic suscipit commodi animi? Veritatis, pariatur nobis? Eaque sequi esse maxime blanditiis dolores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit beatae porro possimus? Cumque ea natus deserunt totam, dolores modi doloribus fugiat dolorum quam iure praesentium dolore minus laboriosam? Repellat!</p>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <img class="mobile-box-pictures" src="/assets/vitra8.png" alt="vitra8">
            <img class="mobile-box-pictures" src="/assets/stade10.png" alt="stade10">
            <img class="mobile-box-pictures" src="/assets/municipale4.jpg" alt="municipale4">
            <img class="mobile-box-pictures" src="/assets/vava3.jpg" alt="vava3">
            <img class="mobile-box-pictures" src="/assets/fontaine6.png" alt="fontaine6">
            <img class="mobile-box-pictures" src="/assets/siamese3.png" alt="siamese3">
            <img class="mobile-box-pictures" src="/assets/cafe4.jpg" alt="cafe4">

        </div>
    </div>

    <div id="desktop-hide">

        <div class="background"></div>

        <div id="master-project-chronology">
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
        </div>

    </div>

