.cursor {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(7, 161, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 10000;
}

@media only screen and (max-width: 480px) {
  .cursor {
    opacity: 0;
  }
}

.pictures {
  max-height: 20rem;
  max-width: 20rem;
  transition: all 0.5s ease;
}

.grayscale {
  filter: grayscale(1);
}

.picture-grow {
  transform: scale(1.5);
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-max {
  z-index: 10000;
}

.chair-front {
  position: absolute;
  bottom: 0;
  left: 800px;
}

.chair-front img {
  max-height: 30rem;
  max-width: 30rem;
}

.pictures-title {
  z-index: 2000;
  bottom: -8px;
  margin-left: -15px;
  position: absolute;
  text-align: right;
  color: #649d66;
  width: 100%;
  opacity: 0;
}

.pictures-title-blue {
  color: #99bfe0;
}

#pictures-stade {
  position: absolute;
  top: 40px;
  left: -30px;
}

#pictures-stade:hover .pictures-title {
  opacity: 1;
}

#pictures-stade:hover #project-year-2017 {
  color: #FF644C;
}

#pictures-stade img {
  position: relative;
  max-height: 16rem;
  max-width: 16rem;
}

#pictures-capsule {
  position: absolute;
  bottom: 80px;
  left: -200px;
}

#pictures-capsule:hover .pictures-title {
  opacity: 1;
}

#pictures-capsule img {
  position: relative;
  max-height: 18rem;
  max-width: 18rem;
}

#pictures-municipale {
  position: absolute;
  top: 55px;
  left: -130px;
}

#pictures-municipale:hover .pictures-title {
  opacity: 1;
}

#pictures-municipale img {
  position: relative;
  max-height: 20rem;
  max-width: 20rem;
}

#pictures-hydros {
  position: absolute;
  top: 40px;
  left: -150px;
}

#pictures-hydros:hover .pictures-title {
  opacity: 1;
}

#pictures-hydros img {
  position: relative;
  max-height: 18rem;
  max-width: 18rem;
}

#pictures-vava {
  position: absolute;
  bottom: 80px;
  left: -140px;
}

#pictures-vava:hover .pictures-title {
  opacity: 1;
}

#pictures-vava img {
  position: relative;
  max-height: 20rem;
  max-width: 20rem;
}

#pictures-siamese {
  position: absolute;
  bottom: 80px;
  left: -35px;
}

#pictures-siamese:hover .pictures-title {
  opacity: 1;
}

#pictures-siamese img {
  position: relative;
  max-height: 20rem;
  max-width: 20rem;
}

#pictures-cafe {
  position: absolute;
  bottom: -70px;
  left: -190px;
}

#pictures-cafe:hover .pictures-title {
  opacity: 1;
}

#pictures-cafe img {
  position: relative;
  max-height: 37rem;
  max-width: 37rem;
}

#pictures-cari {
  position: absolute;
  top: 80px;
  left: -120px;
}

#pictures-cari:hover .pictures-title {
  opacity: 1;
}

#pictures-cari img {
  position: relative;
  max-height: 18rem;
  max-width: 18rem;
}

#pictures-boat {
  position: absolute;
  top: 30px;
  left: -140px;
}

#pictures-boat:hover .pictures-title {
  opacity: 1;
}

#pictures-boat img {
  position: relative;
  max-height: 18rem;
  max-width: 18rem;
}

#pictures-mer {
  position: absolute;
  top: 40px;
  left: -390px;
}

#pictures-mer:hover .pictures-title {
  opacity: 1;
}

#pictures-mer img {
  position: relative;
  max-height: 40rem;
  max-width: 40rem;
}

#pictures-playspace {
  position: absolute;
  bottom: 200px;
  left: -100px;
}

#pictures-playspace:hover .pictures-title {
  opacity: 1;
}

#pictures-playspace img {
  position: relative;
  max-height: 20rem;
  max-width: 20rem;
}

#pictures-rooftop {
  position: absolute;
  top: 140px;
  left: -120px;
}

#pictures-rooftop:hover .pictures-title {
  opacity: 1;
}

#pictures-rooftop img {
  position: relative;
  max-height: 20rem;
  max-width: 20rem;
}

#pictures-cinema {
  position: absolute;
  top: 40px;
  left: -150px;
}

#pictures-cinema:hover .pictures-title {
  opacity: 1;
}

#pictures-cinema img {
  position: relative;
  max-height: 18rem;
  max-width: 18rem;
}

.show-pictures {
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 85vh;
  top: 0px;
  position: relative;
}

.pictures-2017, .pictures-2018, .pictures-2019, .pictures-2020, .pictures-2021 {
  visibility: visible;
}

.show-pictures img {
  position: relative;
  margin: 15px;
  max-width: 32rem;
  max-height: 32rem;
}

.show-pictures-1, .show-pictures-2 {
  max-width: 29rem !important;
  max-height: 29rem !important;
}

.show-pictures-3 {
  max-width: 29rem !important;
  max-height: 29rem !important;
}

.show-pictures-4 {
  max-width: 21rem !important;
  max-height: 21rem !important;
  z-index: 1;
}

.show-pictures-5 {
  max-width: 33rem !important;
  max-height: 33rem !important;
}

.show-pictures-6 {
  max-width: 24rem !important;
  max-height: 24rem !important;
}

.show-pictures-7 {
  max-width: 30rem !important;
  max-height: 30rem !important;
}

.show-pictures-8 {
  max-width: 20rem !important;
  max-height: 20rem !important;
}

.show-pictures-9 {
  max-width: 20rem !important;
  max-height: 20rem !important;
}

.show-pictures-mer-1 {
  max-width: 35rem !important;
  max-height: 35rem !important;
}

.show-pictures-mer-2 {
  max-width: 32rem !important;
  max-height: 32rem !important;
}

.show-pictures-mer-3 {
  left: -60px;
  top: -60px;
  max-width: 24rem !important;
  max-height: 24rem !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.show-pictures-mer-4 {
  max-width: 41rem !important;
  max-height: 30rem !important;
  z-index: 1;
  margin-bottom: 60px !important;
}

.show-pictures-mer-5 {
  max-width: 32rem !important;
  max-height: 32rem !important;
}

.show-pictures-mer-6 {
  top: -60px;
  left: -60px;
  max-width: 30rem !important;
  max-height: 30rem !important;
}

.show-pictures-mer-7 {
  max-width: 26rem !important;
  max-height: 26rem !important;
  margin-bottom: 60px !important;
  margin-top: 60px !important;
  z-index: 1;
}

.show-pictures-mer-8 {
  top: -60px;
  left: -60px;
  max-width: 23rem !important;
  max-height: 23rem !important;
}

.show-pictures-mer-9 {
  max-width: 29rem !important;
  max-height: 29rem !important;
}

.show-pictures-mer-10 {
  top: -90px;
  left: -70px;
  max-width: 15rem !important;
  max-height: 15rem !important;
}

.show-pictures-mer-11 {
  top: -140px;
  background-position: 25% 75%;
  object-fit: cover;
  height: 240px;
  width: 360px;
}

.show-text {
  color: #70C9FC;
  font-size: 24px;
  padding: 20px 100px;
  text-align: right;
}

.show-pictures-hide.active {
  display: none;
}

.show-pictures.active {
  background-color: #FBFBF9;
  scrollbar-width: thin;
  scrollbar-color: #A6C2A0;
  overflow-x: hidden;
  z-index: 10;
}

.show-pictures-blue.active {
  background-color: #bdd8ec85;
}

.show-pictures.active::-webkit-scrollbar {
  width: 11px;
}

.show-pictures.active::-webkit-scrollbar-thumb {
  background-color: #A6C2A0;
  border: 3px solid #fbfbf9;
  margin: 10px;
}

.show-pictures-blue.active::-webkit-scrollbar-thumb {
  background-color: #64abe8;
  border: 3px solid rgba(209, 232, 249, 1);
  margin: 10px;
}

.show-pictures.active::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px; 
}

.show-pictures.active::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}

.pictures-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #EE8070;
}